<table class="table">
  <thead>
    <tr>
      <th>Your Present</th>
      
      <th>Change Mind?</th>
      
  </thead>
  <tbody>
    <% @wishlist.each do |w| %>
      <tr>
        <td><%= w.name %></td>
        
        <td><%= link_to "delete", w, :method => :delete,
                        :remote => true, :class => 'delete_wishlist',class: "tdlink2" %>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
