<p id="notice"><%= notice %></p>

<h1>Welcome <%= @child.name %>!</h1>

<div class="container-fluid">
  <strong><center>Wishlist</center></strong>
</div>

<!-- textbox and add for ajax call here -->
<div class="container">

</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Toy Name</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      <% @wishlist.each do |w| %>
        <tr>
          <td><%= w.name %></td>
          <td>ajax delete here</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
