@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
$xmas-red: #B3000C;
$xmas-green: #034f20;
$xmas-white: #fffaf0;
$gray-medium-light: #eaeaea;

//images from pexel.com,free personal/commercial use//

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


body.kids {
  background-image: url(blur-child-christmas-1556679.1.jpg);
  background-size: cover;
  background-repeat: repeat;
  
}

body.gifts{
  background-image: url(christmas-cute-macro-40541.jpg);
  
}

body.adults {
  background-image: url(celebration-christmas-decoration-220098.jpg);
  h1 {
    color: $xmas-red;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.6);

  }
  p {
    color: $xmas-white;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.6);
  }
}

body {
  padding-top: 60px;
  color: $xmas-white;
  background-image: url(christmas-christmas-wallpaper-gifts-23074.jpg);
  background-size: cover;
}

.loginbody {

  background-image: url(branches-cold-conifers-773594.jpg);

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {

  margin-bottom: 10px;
}

.jumbotron {

  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(179, 0, 12, 0.6);


}

.jumbotron h1 {
  color: $xmas-green;
  font-weight: bold;
  text-shadow: 2px 1px 0px rgba(179, 0, 12, 0.8);
}



a:link {
  text-decoration: none;
}


h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $xmas-green;
  font-weight: bold;
  text-shadow: 2px 1px 0px rgba(179, 0, 12, 0.8);

}

h1.parshow {
  font-size: 5em;
  font-weight: normal;
  //font-family: 'Pangolin', cursive;
  
}

h1.kidshow{
  font-size: 5em;
  font-weight: normal;
  font-family: 'Schoolbell', cursive;
  float: right;
  color: $xmas-red;
  text-shadow: 2px 1px 0px $xmas-green;
}

h1.kidshow2{
  font-size: 5em;
  font-weight: normal;
  font-family: 'Schoolbell', cursive;
  
  color: $xmas-red;
  text-shadow: 2px 1px 0px $xmas-green;
}


.containerkid{
  margin-left: 450px;
}


h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $xmas-white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

}

h2.kidsh2{
  text-shadow: 2px 1px 0px rgba(179, 0, 12, 0.8);
  font-family: 'Schoolbell', cursive;
  font-size: 1.8em;
}

#login {

  color: $xmas-green;
}

#login:hover {
  background-color: rgba(179, 0, 12, 0.0);
  color: #DAA520;

}

p {
  margin-left: 25%;
  color: $xmas-red;
  text-shadow: 1px 0px 0px rgba(43, 112, 40, 0.8);
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: rgba(179, 0, 12, 0.8);
  text-transform: uppercase;
  letter-spacing: -1px;
  text-shadow: 1px 0px 0px black;
  padding-top: 14px;
  font-weight: bold;
  width: 60;
  height: 40;


}

#logo:hover {
  color: #DAA520;
  text-decoration: none;
  background-color: $xmas-green;
  text-shadow: 1px 0px 0px rgba(179, 0, 12, 0.8);
}


.navbar-nav {
  background-color: $xmas-green;

}

.navbar {
  background-color: $xmas-green;
  border-color: $xmas-red;
}

.nav.navbar-nav.navbar-right li a {
  color: rgba(179, 0, 12, 0.8);
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: .5px;
  text-shadow: 1px 0px 0px black;
  &:hover {
    color: #DAA520;
    text-shadow: 1px 0px 0px rgba(179, 0, 12, 0.8);
  }
}

.btn.btn-lg.btn-success {
  background-color: $xmas-green;
  border-color: black;
  color: $xmas-white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: #DAA520;

  }
}

.btn.btn-success {

  background-color: $xmas-green;
  border-color: black;
  color: $xmas-white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: #DAA520;

  }

}

.move{
  margin-left: 37%;
  margin-bottom: 15px;
  font-family: 'Schoolbell', cursive;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid $xmas-green;
  border-radius: 5px;
  padding: 10px 20px;
  width: 50%;
  font-size: 1.1em;
  margin-bottom: 15px;
  @include box_sizing;
  margin-left: 25%;
  
}

input {
  height: auto !important;
  background-color: $xmas-white;
}

label {
  margin-left: 25%;
  letter-spacing: 1px;
  color: $xmas-red;
  text-shadow: 1px 1px 0px #000;
  font-size: 1.2em;
}

table {
  background-color: rgba(255, 250, 240, 0.8);
  border-radius: 20px;
}

thead {


  color: $xmas-green;
  font-size: 1.2em;
  text-shadow: 1px 0px 0px rgba(43, 112, 40, 0.8);

  th {
    text-align: center;
    border-style: hidden!important;

  }

}

tbody {


  color: $xmas-red;
  font-size: 1.1em;
  text-transform: uppercase;

  td {
    text-align: center;
    border-style: hidden!important;

  }
}

td a.tdlink {

  color: $xmas-red;
  &:hover {
    background-color: rgba(255, 250, 240, 0.0);
    color: #DAA520;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 1px 0px 0px rgba(179, 0, 12, 0.8);
  }
}

td a.tdlink2 {

  color: $xmas-red;
  &:hover {
    background-color: rgba(255, 250, 240, 0.0);
    color: #DAA520;
    
  }
}

p.show {
  color: $xmas-green;
  font-size: 1.2em;
  font-weight: bold;
}
//snow effects came from engageinteractive.co.uk/blog/5-modern-snow-effects//

$c--background: rgba(51, 51, 51, 0.0);

$s--near: 10s;
$s--mid: ($s--near * 2);
$s--far: ($s--near * 3);

$ease--out-quad: cubic-bezier(.25,.46,.450,.94);


%on-top {
  z-index: 100;
  pointer-events: none;
}


.winter-is-coming {
  @extend %on-top;
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background: $c--background;
}


.snow {
  @extend %on-top;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  animation: falling linear infinite both;
  transform: translate3D(0,-100%,0);
    
  &--near {
    animation-duration: $s--near;
    background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png');
    background-size: contain;
    
    & + .snow--alt {
      animation-delay: ($s--near / 2);
    }
  }
    
  &--mid {
    animation-duration: $s--mid;
    background-image: image-url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png');
    background-size: contain;
    
    & + .snow--alt {
      animation-delay: ($s--mid / 2);
    }
  }
    
  &--far {
    animation-duration: $s--far;
    background-image: image-url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png');
    background-size: cover;
    
    & + .snow--alt {
      animation-delay: ($s--far / 2);
    }
  }
}
      
@keyframes falling {
  0% {
    transform: translate3D(-7.5%,-100%, 0);
  }
      
  100% {
    transform: translate3D(7.5%,100%, 0);
  }  
}